<footer class="footer">
  <div class="left">
    <div>
      <h3>Ketevani Nanuashvili - Front-end Developer</h3>
      <p>Feel free to connect with me on any of the following platforms:</p>
    </div>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/your-profile" target="_blank" aria-label="LinkedIn">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        <span>Linkedin</span>
      </a>
      <a href="mailto:your-email@example.com" aria-label="Email">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        <span>ketinanuashvilail.com</span>
      </a>
      <a href="tel:+1234567890" aria-label="Phone">
        <fa-icon [icon]="['fas', 'phone']"></fa-icon>
        <span>+559 574 82 18 44</span>
      </a>
      <a href="https://www.facebook.com/your-profile" target="_blank" aria-label="Facebook">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        <span>Facebook</span>
      </a>
    </div>
  </div>
</footer>
